.bank-transfer-label {
    font-size: 9px;
    text-align: right;
    line-height: 10px;
}

.border-right {
    border-right: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

